{% extends "main/base.html" %}

{% block content %}

<div class="container mt-2">
	<div class="row justify-content-start">
		<h1 class=" col-sm-auto">{{profile.name}}</h1>
		{%if user.is_authenticated %}
	        <a class="col-sm-auto" href="/edit"><button type="button" class="btn btn-outline-primary me-2">Edit</button></a> 
	        	
		{%endif%}	
	</div>
	<p>{{profile.bio}}</p>
	<h3>Phone: {{profile.phoneNumber}}</h3>
	<h3>e-mail: {{profile.eMail}}</h3>
	<br>
	<h3>Properties:</h3>
	<div class="row justify-content-between">
		{% for post in posts %}
			<a class="text-decoration-none card-text text-reset m-1 postImage" href="/post/{{post.id}}">
				{% for image in images %}
	    			{% if image.post == post %}

		        		<img src="{{ image.image.url }}" class="img-responsive  postimage img-fluid rounded" />
		        	{%endif%}
				{%endfor%}
		    	<div class="col- item m-1">
		        	<div class="p-2 card item-card card-block">
		        		
				        <h5 class="item-card-title mb-1">{{post.title}}</h5>
				        <div class="row ">
					        <p class="card-text mb-0 col">{{post.city}}</p>
					        <p class="card-text mb-0 col text-right">{{post.meters}} m²</p>
				        </div>
				        <h6 class="item-card-title ">{{post.price}} USD</h6>
		    		</div>
		    	</div>
	    	</a>
      	{%endfor%}
	</div>
</div>

{% endblock %}